services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    container_name: nextjs-bun-app
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: 0.0.0.0
    expose:
      - "3000"
    networks:
      - devops-pipeline

  nginx:
    image: nginx:latest
    container_name: reverse-proxy
    restart: always
    depends_on:
      - nextjs-app
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - devops-pipeline

networks:
  devops-pipeline:
    driver: bridge