services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile.prod
      target: runner
    container_name: nextjs-bun-app-prod
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: 0.0.0.0
      DATABASE_URL: postgresql://admin:mysecretpassword@postgres:5432/mydatabase
    expose:
      - '3000'
    depends_on:
      - postgres
    networks:
      - devops-pipeline

  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydatabase
    ports:
      - '5433:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - devops-pipeline

  nginx:
    image: nginx:latest
    container_name: reverse-proxy
    restart: always
    depends_on:
      - nextjs-app
    ports:
      - '8000:8000'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - devops-pipeline

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - pga-data:/var/lib/pgadmin
    ports:
      - '5050:80'
    depends_on:
      - postgres
    networks:
      - devops-pipeline

volumes:
  postgres-data:
  pga-data:

networks:
  devops-pipeline:
    driver: bridge